.wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.input {
  margin-top: 5px;
  width: 200px;
  border: 1px solid #2b6cb0;
  border-radius: 5px;
}
