.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(42, 54, 59);
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
}

.item {
  margin-bottom: 17px;
}

.input {
  border: 1px solid #2b6cb0;
  border-radius: 5px;
}
.input-phone {
  border: 1px solid #2b6cb0;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.input-add {
  border: 1px solid #2b6cb0;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
}
