@import-normalize;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wraper {
  margin-top: 15px;
  margin-left: 15px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
